<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.sedekahonline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".feature.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.MainActivity" />
        <activity
            android:name=".feature.NewPasswordActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".feature.RegistActivity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".feature.LoginActivity" />
        <activity android:name=".feature.AboutActivity" />
        <activity android:name=".feature.schedule.activity.ScheduleActivity" />
        <activity
            android:name=".feature.ForgotActivity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".feature.compass.activity.CompassActivity" />
        <activity android:name=".feature.schedule.activity.KotaActivity" />
        <activity android:name=".feature.alquran.activity.AlquranActivity" />
        <activity android:name=".feature.alquran.activity.AyahWordActivity" />
        <activity android:name=".feature.map.MapAddActivity" />
        <activity android:name=".feature.map.MapsActivity" />
        <activity android:name=".feature.sedekah.SedekahActivity" />
        <activity android:name=".feature.DetailSedekahActivity" />
        <activity android:name=".feature.UlasanActivity" />
        <activity android:name=".feature.ProfileActivity" />
        <activity
            android:name=".feature.AddSedekahActivity"
            android:theme="@style/AppTheme2" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDIzd4Y5V2Fz0Gf9SWHOp4V8816p5dXh0w" />

        <service
            android:name=".feature.map.GeocodeAddressIntentService"
            android:exported="false" />

        <receiver android:name=".feature.schedule.activity.AlarmReceiver"
            android:process=":remote"></receiver>

        <service android:name=".feature.schedule.activity.RingtonePlay"></service>

    </application>

</manifest>